body{
    background-color: #CE8CA5;
    margin: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.topnav{
    background-color: #2B192E;
    overflow: hidden;
}

.topnav img{
    height: 95px;
}

.topnav a{
    float: right;
    color: #F5E8DA;
    text-align: center;
    padding: 30px 17px;
    text-decoration: none;
    font-size: 16px;
}

.topnav a:hover{
    background-color: #CE8CA5;
    color: #F5E8DA;
}

.topnav #basket{
    background-color: #F5E8DA;
    color: #2B192E;
    font-weight: 700;
}

.topnav a.active{
    background-color: #B87F8D;
    color: #F5E8DA;
}

#title{
    color: #F5E8DA;
    text-align: center;
    font-style: italic;
    -webkit-text-stroke-color: #2B192E;
    -webkit-text-stroke-width: 2px;
    font-size: 50px;
}

.col-md-4{
    display: inline-block;
    border: 2px solid #2B192E;
    margin: 22px;
    width: 21%;
}

.col-md-4 img{
    width: 100%;
    height: auto;
}

#info1{
    font-weight: 900;
    border: 2px solid #2B192E;
    
}

footer{
    display: block;
    background-color: #2B192E;
    color: #CE8CA5;
    text-align: center;
    padding: 3px;
    margin-top: 50%;
}